[[resource_sync]]
name = "komodo-app-stacks"
tags = ["sync"]
[resource_sync.config]
repo = "brumi1024/komodo-app-stacks"
git_account = "brumi1024"
resource_path = [
  "services/uptime-kuma/stack.toml",
  "common-vars.toml"
]
include_variables = true

##

[[resource_sync]]
name = "komodo-op-sync"
tags = [
  "infrastructure",
  "1password-connect",
  "sync"
]
[resource_sync.config]
repo = "brumi1024/deploy-komodo-op"
git_account = "brumi1024"
resource_path = ["stack.toml"]