[[resource_sync]]
name = "komodo-app-stacks"
tags = ["sync"]
[resource_sync.config]
repo = "brumi1024/komodo-app-stacks"
git_account = "brumi1024"
resource_path = [
  "services/uptime-kuma/stack.toml"
]

##

[[resource_sync]]
name = "komodo-op-sync"
tags = [
  "infrastructure",
  "1password-connect",
  "sync"
]
[resource_sync.config]
repo = "brumi1024/deploy-komodo-op"
git_account = "brumi1024"
resource_path = ["stack.toml"]
managed = true
match_tags = ["sync"]

##

[[resource_sync]]
name = "resource-sync"
tags = ["sync"]
[resource_sync.config]
repo = "brumi1024/komodo-resource-syncs"
git_account = "brumi1024"
resource_path = ["syncs.toml"]
managed = true
match_tags = ["sync"]